<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'pynny/pynny.css' %}">
    </head>

    <body>
        <div class="content container">
            {% if user.is_authenticated %}
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="{% url 'index' %}"><strong>Pynny</strong></a></li>
                    <li role="presentation"><a href="{% url 'profile' %}">Profile</a></li>
                    <li role="presentation"><a href="{% url 'wallets' %}">Wallets</a></li>
                    <li role="presentation"><a href="{% url 'budgets' %}">Budgets</a></li>
                    <li role="presentation"><a href="{% url 'categories' %}">Categories</a></li>
                    <li role="presentation"><a href="{% url 'transactions' %}">Transaction</a></li>
                    <li role="presentation"><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            {% endif %}

            {% if alerts %}
                {% if alerts.success %}
                    {% for alert in alerts.success %}
                        <div class="alert alert-success">{% autoescape off %}{{ alert }}{% endautoescape %}</div>
                    {% endfor %}
                {% endif %}
                {% if alerts.info %}
                    {% for alert in alerts.info %}
                        <div class="alert alert-info">{% autoescape off %}{{ alert }}{% endautoescape %}</div>
                    {% endfor %}
                {% endif %}
                {% if alerts.warnings %}
                    {% for alert in alerts.warnings %}
                        <div class="alert alert-warning">{% autoescape off %}{{ alert }}{% endautoescape %}</div>
                    {% endfor %}
                {% endif %}
                {% if alerts.errors %}
                    {% for alert in alerts.errors %}
                        <div class="alert alert-danger">{% autoescape off %}{{ alert }}{% endautoescape %}</div>
                    {% endfor %}
                {% endif %}
            {% endif %}

            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>