{% extends 'pynny/base/base.html' %}

{% block title %}Welcome - Pynny{% endblock %}

{% block content %}

<div class="jumbotron">
  <h1>Welcome to Pynny</h1>
  <p>
      <strong>Pynny</strong> is an open-source web application for easy and efficient
      budgeting. Pynny is written entirely in Python and uses the 
      Django web framework. You can view the development for Pynny 
      <a href="https://github.com/zach-king/Pynny.git">here</a>.
  </p>

  <p>
      If you are already set up to use Pynny, you can sign in 
      <a href="{% url 'login' %}">here</a>.
  </p>
</div>


{% endblock %}