{% extends 'pynny/base.html' %}

{% block title %}New Wallet - Pynny{% endblock %}

{% block content %}

<form action="{% url 'wallets' %}" autocomplete="off" method="POST">
    {% csrf_token %}
                        
    <div class="input-group">
        <label for="name">Wallet Name: </label>
        <input type="text" class="form-control" name="name" placeholder="My Credit Card">
    </div>

    <br />

    <div class="input-group">
        <label for="balance">Starting Balance: $</label>
        <input type="number" class="form-control" name="balance" placeholder="0.00" value=0 step=0.01>
    </div>

    <br />

    <button class="btn btn-lg btn-primary" type="submit">Create</button>
</form>

{% endblock %}