{% extends 'pynny/base.html' %}

{% block title %}Transactions - Pynny{% endblock %}

{% block content %}

<br />

<a href="{% url 'new_transaction' %}">
    <button class="btn btn-primary transaction-create">
        <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;New Transaction
    </button>
</a>

<h1>Transaction</h1>

{% if transactions %}
    <table class="table table-striped table-hover table-collapsed table-links">
        <thead>
            <tr>
                <th>Wallet</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Recorded</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr class="tr-link" data-href="{% url 'one_transaction' transaction_id=transaction.id %}">
                    <td class="text-{% wallet_class transaction.wallet.balance %}">
                        {{ transaction.wallet.name }}
                    </td>
                    <td class="text-{% category_class transaction.category.is_income %}">
                        {{ transaction.category.name }}
                    </td>
                    <td class="text-{% transaction_class transaction %}">
                        ${{ transaction.amount }}
                    </td>
                    <td>
                        {% shorten_string transaction.description 20 %}
                    </td>
                    <td>
                        {{ transaction.created_time }}
                    </td>
                    <td>
                        <form method="POST" class="form-inline" action="{% url 'one_transaction' transaction_id=transaction.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="edit" />
                            <button type="submit" class="btn btn-sm btn-primary btn-inline">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </form>
                        <form method="POST" class="form-inline" action="{% url 'one_transaction' transaction_id=transaction.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="delete" />
                            <button type="submit" class="btn btn-sm btn-danger btn-inline">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-info">
        <strong>Heads up!</strong> You haven't recorded any Transactions yet. Get started 
        by clicking <a href="{% url 'new_transaction' %}">New Transaction</a>.
    </div>
{% endif %}

{% endblock %}