{% extends 'pynny/base.html' %}

{% block title %}Wallets - Pynny{% endblock %}

{% block content %}

<br />

<a href="{% url 'new_wallet' %}">
    <button class="btn btn-primary wallet-create">
        <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;New Wallet
    </button>
</a>

{% if wallets %}
    {% for wallet in wallets %}
        <div class="panel panel-{% wallet_class wallet.balance %}">
            <div class="panel-heading">
                <a href="{% url 'one_wallet' wallet_id=wallet.id %}">
                    <h3 style="display:inline" class="panel-title">{{ wallet.name }}</h3>
                </a>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <form method="POST" class="form-inline" action="{% url 'one_wallet' wallet_id=wallet.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="edit" />
                    <button type="submit" class="btn btn-xs btn-primary btn-inline">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit
                    </button>
                </form>


                <form action="{% url 'one_wallet' wallet_id=wallet.id %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="delete" />
                    <button class="btn btn-xs btn-danger pull-right wallet-delete" type="submit">
                        <span class="glyphicon glyphicon-remove"></span>&nbsp;Delete
                    </button>
                </form>
            </div>

            <div class="panel-body">
                Balance: 
                <span class="text-{% wallet_class wallet.balance %}">
                    ${{ wallet.balance }}
                </span>
            </div>

            <div class="panel-footer">
                Created: {{ wallet.created_time }}
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="alert alert-info">
        <strong>Heads up!</strong> You haven't created any Wallets yet. Get started 
        by clicking <a href="{% url 'new_wallet' %}">New Wallet</a>.
    </div>
{% endif %}

{% endblock %}