{% extends 'pynny/base/base.html' %}

{% block title %}{{ budget.category.name }} Budget for {{ budget.wallet.name }} Wallet - Pynny{% endblock %}

{% block content %}

<div class="modal fade" id="createBudgetModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Budget</h5>
                <button type="button" class="close" data-dismiss="modal" arial-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'budgets' %}" autocomplete="off" method="POST" id="new_budget_form">
                {% csrf_token %}
                <div class="modal-body">

                    <label for="inputBudgetCategory">Budget Category: </label>
                    <div class="input-group">
                        <select id="inputBudgetCategory" name="category" class="form-control">
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <label for="inputBudgetWallet">Wallet: </label>
                    <div class="input-group">
                        <select id="inputBudgetWallet" name="wallet" class="form-control">
                            {% for wallet in wallets %}
                                <option value="{{ wallet.id }}">{{ wallet.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <label for="inputBudgetGoal">Goal: </label>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input id="inputBudgetGoal" type="number" class="form-control" step=0.01 value=0 name="goal">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editBudgetModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Budget</h5>
                <button type="button" class="close" data-dismiss="modal" arial-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form-edit" autocomplete="off" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <input type="hidden" name="action" value="edit_complete" />

                    <label for="editBudgetCategory">Budget Category: </label>
                    <div class="input-group">
                        <select id="editBudgetCategory" name="category" class="form-control">
                            {% for category in categories %}
                                <option value="{{ category.id }}" class="text-{% category_class category.is_income %}" {% if budget.category.id == category.id %}selected{% endif %}>{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <label for="editBudgetWallet">Wallet: </label>
                    <div class="input-group">
                        <select id="editBudgetWallet" name="wallet" class="form-control">
                            {% for wallet in wallets %}
                                <option value="{{ wallet.id }}" class="text-{% wallet_class wallet.balance %}" {% if budget.wallet.id == wallet.id %}selected {% endif %}>{{ wallet.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <label for="editBudgetGoal">Goal: </label>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input id="editBudgetGoal" type="number" class="form-control" step=0.01 value={{ budget.goal }} name="goal">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteBudgetModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Budget</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the "<span class="text-muted categoryName"></span>" Budget for your "<span class="text-muted walletName"></span>" Wallet?</p>

                <form class="form-delete" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="delete" />
                    <button class="btn btn-danger" type="submit">
                        <i class="fa fa-trash"></i>&nbsp;Delete
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="one-btn-group">
    <button class="btn btn-primary create-btn" type="button" data-toggle="modal" data-target="#createBudgetModal">
        <i class="fa fa-lg fa-plus-circle"></i>&nbsp;New Budget
    </button>

    <button type="button" class="btn btn-default one-edit-btn" data-toggle="modal" data-target="#editBudgetModal" data-id="{{ budget.id }}" data-category="{{ budget.category.id }}" data-wallet="{{ budget.wallet.id }}" data-goal="{{ budget.goal }}" data-balance="{{ budget.balance }}" data-month="{{ budget.month }}">
        <i class="fa fa-lg fa-pencil"></i>&nbsp;Edit
    </button>

    <button class="btn btn-danger pull-right one-delete-btn" type="button" data-toggle="modal" data-target="#deleteBudgetModal" data-id="{{ budget.id }}" data-category-name="{{ budget.category.name }}" data-wallet-name="{{ budget.wallet.name }}">
        <i class="fa fa-lg fa-trash"></i>&nbsp;Delete
    </button>
</div>

<div class="card border-{% budget_class budget %}">
    <div class="card-header">
        <h3 style="display:inline" class="card-title">{{ budget.category.name }} [{{ budget.wallet.name }}]</h3>
    </div>

    <div class="card-body">
        <p>Category: 
            <a href="{% url 'one_category' category_id=budget.category.id %}">
                {{ budget.category.name }}
            </a>
        </p>
        <p>Balance: 
            ${{ budget.balance }}
        </p>
        <p>Goal: 
            ${{ budget.goal }}
        </p>
        <p>Wallet: 
            <a href="{% url 'one_wallet' wallet_id=budget.wallet.id %}">
                <span class="text-{% wallet_class budget.wallet.balance %}">
                    {{ budget.wallet.name }}
                </span>
            </a>
        </p>
    </div>

    <div class="card-footer">
        {% get_month budget.month %}
    </div>
</div> <!-- End of budget meta info -->

<hr />

<!-- Show all transaction for this wallet -->
<h2>Transactions</h2>
{% if transactions %}
    <table id="transactionsTable" class="table table-striped table-hover table-links" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Category</th>
                <th>Saving</th>
                <th>Description</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for trans in transactions %}
                <tr class="tr-link" data-href="{% url 'one_transaction' transaction_id=trans.id %}">
                    <td>${{ trans.amount }}</td>
                    {% if trans.category %}
                        <td class="text-{% category_class trans.category.is_income %}">
                            {{ trans.category.name }}
                        </td>
                    {% else %}
                        <td>N/A</td>
                    {% endif %}
                    {% if trans.saving %}
                        <td class="text-{% saving_class trans.saving %}">
                            {{ trans.saving.name }}
                        </td>
                    {% else %}
                        <td>N/A</td>
                    {% endif %}
                    <td>{{ trans.description }}</td>
                    <td>{{ trans.created_time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-info">
        <strong>Heads up!</strong> You haven't recorded any Transactions for the Wallet and Category 
        this Budget refers to. You can create one <a href="{% url 'transactions' %}">here</a>.
    </div>
{% endif %}

<script>
    $(document).ready(function() {

        $("#transactionsTable").DataTable({
            dom: 'lrtip',
            order: [[4, "desc"]],
            lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, 'All']],
            responsive: true,
          });

        $('#editBudgetModal').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget); // button that triggered the modal
            var budgetId = button.data('id');    // extract data
            var budgetCategoryId = button.data('category');
            var budgetWalletId = button.data('wallet');
            var budgetGoal = button.data('goal');
            var budgetBalance = button.data('balance');
            var budgetMonth = button.data('month');

            var modal = $(this);
            modal.find('.form-edit').attr('action', '/pynny/budgets/' + budgetId);
            modal.find('#optionCategory' + budgetCategoryId).prop('selected', true);
            modal.find('#optionWallet' + budgetWalletId).prop('selected', true);
            modal.find('#editBudgetGoal').val(budgetGoal);
            modal.find('#editBudgetBalance').val(budgetBalance);
            modal.find('#editBudgetMonth').val(budgetMonth);
        });

        $('#deleteBudgetModal').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget); // button that triggered the modal
            var budgetId = button.data('id');    // extract data
            var budgetCategoryName = button.data('category-name');
            var budgetWalletName = button.data('wallet-name');

            var modal = $(this);
            modal.find('form').attr('action', '/pynny/budgets/' + budgetId);
            modal.find('.categoryName').text(budgetCategoryName);
            modal.find('.walletName').text(budgetWalletName);
        });
    });
</script>

{% endblock %}