{% extends "pynny/base.html" %}

{% block content %}

{% if form.errors %}
<div class="alert alert-danger">
    <strong>Oh Snap!</strong> Your username and password didn't match. Please try again.
    </div>
{% endif %}

{% if user.is_authenticated %}
    <div class="alert alert-info">
        <strong>Oy!</strong> You're already logged in. View your profile <a href="{% url 'profile' %}">here</a>.
    </div>
{% else %}
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <div class="omb_login">
        <h3 class="omb_authTitle">Login</h3>

        <div class="row omb_row-sm-offset-3">
            <div class="col-xs-12 col-sm-6">	
                <form class="omb_loginForm" action="{% url 'login' %}" autocomplete="off" method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" name="username" placeholder="Username">
                    </div>

                    <br />
                                        
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input  type="password" class="form-control" name="password" placeholder="Password">
                    </div>

                    <br />

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                </form>
            </div>
        </div>    	
    </div>
{% endif %}
{% endblock %}