{% extends "pynny/base/base.html" %}

{% block content %}

{% if form.errors %}
<div class="alert alert-danger">
    <strong>Oh Snap!</strong> Your username and password didn't match. Please try again.
    </div>
{% endif %}

{% if user.is_authenticated %}
    <div class="alert alert-info">
        <strong>Oy!</strong> You're already logged in. View your profile <a href="#">here</a>.
    </div>
{% else %}

        <div class="loginForm">
            <h3 class="login-brand">Pynny</h3>

            <form action="{% url 'login' %}" autocomplete="off" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" class="form-control" name="username" placeholder="Username">
                </div>

                <br />

                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input  type="password" class="form-control" name="password" placeholder="Password">
                </div>

                <br />

                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            </form>
        </div>

{% endif %}

{% endblock %}