{% extends 'pynny/base/base.html' %}

{% block title %}Edit Wallet {{ wallet.name }} - Pynny{% endblock %}

{% block content %}

<form action="{% url 'one_wallet' wallet_id=wallet.id %}" autocomplete="off" method="POST">
    {% csrf_token %}

    <input type="hidden" name="action" value="edit_complete" />

    <div class="input-group">
        <label for="name">Wallet Name: </label>
        <input type="text" class="form-control" name="name" placeholder="My Credit Card" value="{{ wallet.name }}">
    </div>

    <br />

    <button class="btn btn-md btn-primary" type="submit">Update Wallet</button>
</form>

{% endblock %}