.nav {
    margin-bottom: 5px;
}

.wallet-delete {
    margin-top: -20px;
}

.wallet-create {
    margin-bottom: 20px;
}

.table-links tbody tr:hover td, .table-links tbody tr:hover th {
  background-color: #cfd8dc;
  cursor: pointer;
}