.nav {
    margin-bottom: 5px;
}

.wallet-delete, .category-delete, .budget-delete, .transaction-delete {
    margin-top: -20px;
}

.wallet-create, .category-create, .budget-create, .transaction-create {
    margin-bottom: 20px;
}

.table-links tbody tr:hover td, .table-links tbody tr:hover th {
  background-color: #cfd8dc;
  cursor: pointer;
}

#new_category_form {
    margin-top: 30px;
}

.category-check {
    padding-left: 3%;
}

.form-inline {
    display: inline;
}

.center-text {
    text-align: center;
}